body {
	background-color: white;
	background-image: url(../img/pattern-bg.gif);
}
 
.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
	font-family: 'Alegreya Sans', sans-serif;
}

header{
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #959372;

}

header h1{
	display: none;
}

/* when you use a class, you can assign the class to any number of element tags in your html, unlike using element selectors which are specific to that selector 

example
.hidden{
	display: none;
}
*/

header > img{
	margin: 14px;
}


/* style the banner
	move the banner down by using the margin-top 
	added the background image which has no EFFECT on physical content size
	adjusted height (content height) to image size
	added padding (caused a problem with image height, beginning to repeat image)
	adjusted height (content height) to account for the add padding 
*/ 
.banner{
	margin-top: 60px;
	background-image: url(../img/flower-banner.jpg);
	/*height: 480px;  This is for the content area, not the image. 480px(picture image) - 60 = 420(new height)*/
	height: 420px;
	padding-left: 680px;
	padding-top: 60px;
}

.banner h2{
	font-family: 'Alegreya', serif;
	font-style: italic; 
	font-size: 36px; /* seems that the pt on PS is equal on the desired px in styling */
	color: #f9ea4f;
}

/* handle the anchor elements for the menu*/

.banner a{
	color: #faf9f8; 
	font-size: 18px;
	text-decoration: none; /* removes  the underline on the anchor tag */
}

/* use the hover psuedo class of the anchor tag to alter the color of the anchor tag text when the cursor is moved over the anchor tag
	This will draw the user's attention to the link

	:visited - link has been opened
	:active - the linked is clicked 
	:link - 
*/
.banner a:hover{
	color: #f9ea4f;
}
/* instead of using margin to seperate the li items, you can use the rule line-height */

.banner li{
	line-height: 40px;
}
